div.guestCard {
    border-radius: 30px;
    box-shadow: 5px 5px 5px gray;
    margin: 30px;
    padding: 50px;
    width: 600px;
    background-color: antiquewhite;
    height: auto;
}

span.page {
    cursor: pointer;
}

span.page:hover {
    background-color: #aaa;
    transition: background-color 0.5s;
}